<form>
    <div class="form-group">
        <label for="nameInput">Name</label>
        <input ng-model="_data.name" type="text" class="form-control" id="nameInput" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="ageInput">Age</label>
        <input ng-model="_data.age" type="number" class="form-control" id="ageInput" placeholder="Ender Age">
    </div>
    <div class="form-group">
        <label for="addressInput">Address</label>
        <input ng-model="_data.address" type="text" class="form-control" id="addressInput" placeholder="Enter Address">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="insertUser()">Insert</button>
</form>